@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Aprende Más sobre Blazor</h2>

<div>
    <iframe width="560" height="315" src="https://youtu.be/weda0npFxtk?si=ZtQC53t6TPUMqgzS" frameborder="0" allowfullscreen></iframe>
    <p>Descripción del video 1 y lo que te gustó.</p>
</div>
<!-- Repite para los otros 4 videos -->
<div>
    
    <p>Descripción del video 1 y lo que te gustó.</p>
</div>
<div>
    <iframe width="560" height="315" src="https://youtu.be/weda0npFxtk?si=ZtQC53t6TPUMqgzS" frameborder="0" allowfullscreen></iframe>
    <p>Descripción del video 1 y lo que te gustó.</p>
</div>
<div>
    <iframe width="560" height="315" src="https://youtu.be/weda0npFxtk?si=ZtQC53t6TPUMqgzS" frameborder="0" allowfullscreen></iframe>
    <p>Descripción del video 1 y lo que te gustó.</p>
</div>
<div>
    <iframe width="560" height="315" src="https://youtu.be/weda0npFxtk?si=ZtQC53t6TPUMqgzS" frameborder="0" allowfullscreen></iframe>
    <p>Descripción del video 1 y lo que te gustó.</p>
</div>