@page "/"

<PageTitle>inicio</PageTitle>


<h1>Bienvenido a mi proyecto de Blazor WebAssembly</h1>
<p>Gracias por visitar mi tarea. ¡Espero que disfrutes explorando!</p>
<p>"El aprendizaje de la programación es el primer paso hacia un futuro brillante."</p>

<style>
    h1 {
        color: #4CAF50;
        text-shadow: 2px 2px 4px #000000;
    }

    p {
        font-size: 1.2em;
        transition: color 0.3s;
    }

        p:hover {
            color: #FF5722;
        }
</style>






